@font-face {
	font-family: 'Vasek italic';
	src: url('../fonts/Vasek italic.eot');
	src: local('../fonts/Vasek italic'), local('../Stolzl-Book'),
			url('../fonts/Vasek italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Vasek italic.woff2') format('woff2'),
			url('../fonts/Vasek italic.woff') format('woff'),
			url('../fonts/Vasek italic.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}